:root {
  --desk: 1200px; // desktop
  --tab: 768px; // tablet
  --mob: 480px; // mobile
  --font-primary: 'Montserrat', sans-serif;
  --font-title: 'Seymour One', sans-serif;
  --color-text-light: #fcfcfc;
  --color-text-dark: #131313;
  --color-bg-primary: #84a178;
  --color-btn-default: #f8d24e;
  --color-btn-hover: #0a8817;
  --color-btn-disabled: #ababab;
  --color-bg-product-green: #aec6a5;
  --color-bg-product-yellow: #efd478;
  --color-bg-product-brown: #d6936d;
  --color-bg-input: rgba(248, 210, 78, 0.1);
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
