:root {
  --desk: 1200px; // desktop
  --tab: 768px; // tablet
  --mob: 480px; // mobile
  --font-primary: 'Montserrat', sans-serif;
  --font-title: 'Seymour One', sans-serif;
  --font-mobile-scary: 'Butcherman', cursive;
  --font-mobile-creepy: 'Nosifer', cursive;
  --color-text-light: #fcfcfc;
  --color-text-dark: #131313;
  --color-bg-primary: #84a178;
  --color-btn-default: #f8d24e;
  --color-btn-hover: #0a8817;
  --color-btn-disabled: #ababab;
  --color-bg-product-green: #aec6a5;
  --color-bg-product-yellow: #efd478;
  --color-bg-product-brown: #d6936d;
  --color-bg-input: rgba(248, 210, 78, 0.1);
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-modal-bg-green: #9cbe8f;
  --color-modal-bg-picture-shadow: rgba(156, 190, 143, 0.7);
  --color-modal-bg-shadow-green: rgba(10, 136, 23, 0.25);
  --color-coffee-shadow: rgba(248, 210, 78, 0.6);
  --color-coffee-second-shadow: rgba(248, 210, 78, 0.9);
  --color-shakes: #d6936d;
  --color-shake-shadow: rgba(0, 0, 0, 0.25);
}
