<section class="contacts-page">
  <div class="container">
    <h2 class="contacts__tittle visually-hidden">Contacts tittle</h2>
    <div class="contact-page-container">
      <ul class="contacts-list">
        <li class="contacts-list__item" id="contacts">
          <p class="contacts-list__category">cafe</p>
          <address class="contacts-list-address">
            <p class="contacts-list-address__city">Chicago</p>
            <a
              href="https://goo.gl/maps/p1JPawfzP3BvmeKEA"
              target="_blank"
              class="contacts-list-address__link"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </address>
          <ul class="contacts-calendar__list">
            <li class="contacts-calendar__item">
              <p class="contacts-calendar__day-on">Monday - Friday</p>
              <p class="contacts-calendar__time-on">
                <time>06:00</time> AM - <time>10:00</time> PM
              </p>
            </li>
            <li>
              <p class="contacts-calendar__day-on">Saturday - Sunday</p>
              <p class="contacts-calendar__time-on">
                <time>08:00</time> AM - <time>16:00</time> PM
              </p>
            </li>
          </ul>
          <ul class="contact-list">
            <li class="contact-list__item">
              <a class="contact-list__phone" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contact-list__item">
              <a class="contact-list__mail" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts-list__item">
          <p class="contacts-list__category">foodtruck</p>
          <address class="contacts-list-address">
            <p class="contacts-list-address__city">Los Angeles</p>
            <a
              href="https://goo.gl/maps/RmMN9b8214MKYxeN6"
              target="_blank"
              class="contacts-list-address__link"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </address>
          <ul class="contacts-calendar__list">
            <li class="contacts-calendar__item">
              <p class="contacts-calendar__day-on">Monday - Friday</p>
              <p class="contacts-calendar__time-on">
                <time>06:00</time> AM - <time>10:00</time> PM
              </p>
            </li>
            <li>
              <p class="contacts-calendar__day-on">Saturday - Sunday</p>
              <p class="contacts-calendar__time-on">
                <time>08:00</time> AM - <time>16:00</time> PM
              </p>
            </li>
          </ul>
          <ul class="contact-list">
            <li class="contact-list__item">
              <a class="contact-list__phone" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contact-list__item">
              <a class="contact-list__mail" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts-list__item">
          <p class="contacts-list__category">cafe</p>
          <address class="contacts-list-address">
            <p class="contacts-list-address__city">New York</p>

            <a
              href="https://goo.gl/maps/BhsvQZVfLjM8ZqA19"
              target="_blank"
              class="contacts-list-address__link"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </address>
          <ul class="contacts-calendar__list">
            <li class="contacts-calendar__item">
              <p class="contacts-calendar__day-on">Monday - Friday</p>
              <p class="contacts-calendar__time-on">
                <time>06:00</time> AM - <time>10:00</time> PM
              </p>
            </li>
            <li>
              <p class="contacts-calendar__day-on">Saturday - Sunday</p>
              <p class="contacts-calendar__time-on">
                <time>08:00</time> AM - <time>16:00</time> PM
              </p>
            </li>
          </ul>
          <ul class="contact-list">
            <li class="contact-list__item">
              <a class="contact-list__phone" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contact-list__item">
              <a class="contact-list__mail" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="contacts__buttons-list">
        <li class="contacts__buttons-item">
          <button type="button" class="contacts-btn-our-locations contacts-btn">
            Our Locations
            <svg height="12" width="12">
              <use href="./images/sprite.svg#icon-arrow-head"></use>
            </svg>
          </button>
        </li>
        <li class="contacts__buttons-item">
          <button type="button" class="contacts-btn-franchise contacts-btn">
            Franchise
            <svg height="12" width="12">
              <use href="./images/sprite.svg#icon-arrow-head"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
