<section class="contacts-page">
  <div class="container">
    <h2 class="contacts__tittle visually-hidden">Contacts tittle</h2>
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <p class="contacts-list__category">cafe</p>
        <address class="contacts-list-address">
          <p class="contacts-list-address__city">Chicago</p>
          <a href="#" class="contacts-list-address__link"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <ul class="contacts-calendar__list">
          <li class="contacts-calendar__item">
            <p class="contacts-calendar__day-on">Monday - Friday</p>
            <time class="contacts-calendar__time-on">06:00 AM - 10:00 PM</time>
          </li>
          <li>
            <p class="contacts-calendar__day-on">Saturday - Sunday</p>
            <time class="contacts-calendar__time-on">08:00 AM - 16:00 PM</time>
          </li>
        </ul>
        <ul class="contact-list">
          <li class="contact-list__item">
            <a class="contact-list__phone" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contact-list__item">
            <a class="contact-list__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__category">foodtruck</p>
        <address class="contacts-list-address">
          <p class="contacts-list-address__city">Los Angeles</p>
          <a href="#" class="contacts-list-address__link"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <ul class="contacts-calendar__list">
          <li class="contacts-calendar__item">
            <p class="contacts-calendar__day-on">Monday - Friday</p>
            <time class="contacts-calendar__time-on">06:00 AM - 10:00 PM</time>
          </li>
          <li>
            <p class="contacts-calendar__day-on">Saturday - Sunday</p>
            <time class="contacts-calendar__time-on">08:00 AM - 16:00 PM</time>
          </li>
        </ul>
        <ul class="contact-list">
          <li class="contact-list__item">
            <a class="contact-list__phone" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contact-list__item">
            <a class="contact-list__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__category">cafe</p>
        <address class="contacts-list-address">
          <p class="contacts-list-address__city">New York</p>
          <a href="#" class="contacts-list-address__link"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <ul class="contacts-calendar__list">
          <li class="contacts-calendar__item">
            <p class="contacts-calendar__day-on">Monday - Friday</p>
            <time class="contacts-calendar__time-on">06:00 AM - 10:00 PM</time>
          </li>
          <li>
            <p class="contacts-calendar__day-on">Saturday - Sunday</p>
            <time class="contacts-calendar__time-on">08:00 AM - 16:00 PM</time>
          </li>
        </ul>
        <ul class="contact-list">
          <li class="contact-list__item">
            <a class="contact-list__phone" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contact-list__item">
            <a class="contact-list__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__buttons-list">
      <li class="contacts__buttons-item">
        <button type="button">Our Locations</button>
      </li>
      <li class="contacts__buttons-item">
        <button type="button">Franchise</button>
      </li>
    </ul>
  </div>
</section>
