<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__wrapper">
        <p class="footer__title footer__title--first">
          homemade ice cream made
        </p>
        <p class="footer__title footer__title--second">with passion</p>
      </div>
      <div class="social-networks">
        <ul class="social-networks__list">
          <li class="social-networks__item">
            <a
              href="https://github.com/"
              aria-label="GitHub link"
              target="_blank"
              referrerpolicy="no-referrer"
              class="social-networks__link"
            >
              <svg class="social-networks__icon">
                <use href="./images/sprite.svg#icon-git"></use>
              </svg>
            </a>
          </li>
          <li class="social-networks__item">
            <a
              href="https://web.telegram.org/"
              aria-label="Telegram link"
              target="_blank"
              referrerpolicy="no-referrer"
              class="social-networks__link"
            >
              <svg class="social-networks__icon">
                <use href="./images/sprite.svg#icon-tg"></use>
              </svg>
            </a>
          </li>
          <li class="social-networks__item">
            <a
              href="https://www.facebook.com/"
              aria-label="Facebook link"
              target="_blank"
              referrerpolicy="no-referrer"
              class="social-networks__link"
            >
              <svg class="social-networks__icon">
                <use href="./images/sprite.svg#icon-fb"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="contact">
          Feel free to contact:
          <a class="contact__number" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <div class="copyright">
      <p class="copyright__text">© 2022 - i-scream. With Love.</p>
    </div>
  </div>
</footer>
