<footer class="footer">
    <div class="container">
        <div class="content">
            <div>
                <div class="title-footer">
                <p class="title-footer-first">homemade ice cream made</p>
                <p class="title-footer-second">with passion</p>
                </div>
            </div>
            <div>
                <ul class="footer-icons">
                    <li><a class="footer-icon" href="#">
                        <svg class="footer-socials-icon">
                            <use href="./images/sprite.svg#icon-git"></use>
                        </svg>
                        </a>
                    </li>
                    <li><a class="footer-icon" href="#">
                        <svg class="footer-socials-icon">
                            <use href="./images/sprite.svg#icon-fb"></use>
                        </svg>
                        </a>
                    </li>
                    <li><a class="footer-icon" href="#">
                        <svg class="footer-socials-icon">
                            <use href="./images/sprite.svg#icon-tg"></use>
                        </svg>
                        </a>
                    </li>
                </ul>
                <p class="number">Feel free to contact <a href="tel:+610383766284">+61 (0) 383 766 284</a></p>
            </div>
        </div>
        <hr>
        <div class="copyright">
            <p class="copyright-text">© 2022 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
  </footer>