<section class="section-gallery">
  <div class="section-gallery__container">
  <h2 class="visually-hidden" hidden>GALLERY</h2>
  <div class="continer-gallery">
  <ul class="gallery">
    <li class="gallery__item">
      <div class="gallery__thumb">
        <picture>
          <source srcset="./images/gallery/gallery1-desktop.jpg 1x, ./images/gallery/gallery1-desktop@2x.jpg 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/gallery/gallery1-tablet.jpg 1x, ./images/gallery/gallery1-tablet@2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="./images/gallery/gallery1-mobile.jpg 1x, ./images/gallery/gallery1-mobile@2x.jpg 2x"
            media="(max-width: 767px)">
          <img src="#" alt="ice-cream" class="gallery__image gallery__image-anim1">
        </picture>
      </div>
    </li>
    <li class="gallery__item">
      <div class="gallery__thumb">
        <picture>
          <source srcset="./images/gallery/gallery2-desktop.jpg 1x, ./images/gallery/gallery2-desktop@2x.jpg 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/gallery/gallery2-tablet.jpg 1x, ./images/gallery/gallery2-tablet@2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="./images/gallery/gallery2-mobile.jpg 1x, ./images/gallery/gallery2-mobile@2x.jpg 2x"
            media="(min-width: 140px)">
          <img src="#" alt="ice-cream" class="gallery__image gallery__image-anim2">
        </picture>
      </div>
    </li>
    <li class="gallery__item">
      <div class="gallery__thumb">
        <picture>
          <source srcset="./images/gallery/gallery3-desktop.jpg 1x, ./images/gallery/gallery3-desktop@2x.jpg 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/gallery/gallery3-tablet.jpg 1x, ./images/gallery/gallery3-tablet@2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="./images/gallery/gallery3-mobile.jpg 1x, ./images/gallery/gallery3-mobile@2x.jpg 2x"
            media="(min-width: 140px)">
          <img src="#" alt="ice-cream" class="gallery__image gallery__image-anim3">
        </picture>
      </div>
    </li>
  </ul>
  </div>
  </div>
</section>
