<section>
  <h2 class="visually-hidden" hidden>GALLERY</h2>
  <ul class="gallery">
    <li class="gallery__item">
      <div class="gallery__thumb">
        <picture>
          <source srcset="./images/gallery/gallery1-desktop.jpg 1x, ./images/gallery/gallery1-desktop@2x.jpg 2x"
            media="(min-width: 1200px)">
          <source srcset="./images/gallery/gallery1-tablet.jpg 1x, ./images/gallery/gallery1-tablet@2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="./images/gallery/gallery1-mobile.jpg 1x, ./images/gallery/gallery1-mobile@2x.jpg 2x"
            media="(min-width: 0px)">
          <img src="#" alt="ice-cream" class="gallery__image">
        </picture>
      </div>
    </li>
    <li class="gallery__item">

    </li>
    <li class="gallery__item">

    </li>
  </ul>
</section>
