<section class="products" id="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__item-title">ice cream</h3>
        <p class="products__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="products__btn" type="button" data-about-modal-open>
          <svg class="products__icon">
            <use
              href="./images/sprite.svg#icon-arrow"
              class="products__arrow products__arrow--def"
            ></use>
            <use
              href="./images/sprite.svg#icon-arrow-h"
              class="products__arrow products__arrow--hover"
            ></use>
            <use
              href="./images/sprite.svg#icon-arrow-f"
              class="products__arrow products__arrow--focus"
            ></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__item-title">ice coffee</h3>
        <p class="products__description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          class="products__btn"
          type="button"
          data-about-coffee-modal-open
        >
          <svg class="products__icon">
            <use
              href="./images/sprite.svg#icon-arrow"
              class="products__arrow products__arrow--def"
            ></use>
            <use
              href="./images/sprite.svg#icon-arrow-h"
              class="products__arrow products__arrow--hover"
            ></use>
            <use
              href="./images/sprite.svg#icon-arrow-f"
              class="products__arrow products__arrow--focus"
            ></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__item-title">milkshakes</h3>
        <p class="products__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="products__btn" type="button" data-about-shake-modal-open>
          <svg class="products__icon">
            <use
              href="./images/sprite.svg#icon-arrow"
              class="products__arrow products__arrow--def"
            ></use>
            <use
              href="./images/sprite.svg#icon-arrow-h"
              class="products__arrow products__arrow--hover"
            ></use>
            <use
              href="./images/sprite.svg#icon-arrow-f"
              class="products__arrow products__arrow--focus"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <script src="./js/products-modal-coffee.js" type="module"></script>
  <script src="./js/products-modal-cream.js" type="module"></script>
  <script src="./js/products-modal-shake.js" type="module"></script>
</section>

<!-- Доробити svg - hover, focus -->
