<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden" hidden>reviews</h2>
    <div class="slider">
        <div class="slider__item">
            <picture class="reviews__pic">
                <source srcset="./images/reviews/logo.webp 1x, ./images/reviews/logo@2x.webp 2x" type="image/webp">
                <source srcset="./images/reviews/logo.png 1x, ./images/reviews/logo@2x.png 2x">
      
                <img src="./images/reviews/logo.png" alt="logo" class="reviews__icon">
            </picture>
            <p class="reviews__text">We are sincerely grateful to the entire Go IT team for the opportunity to change our lives for the better, for your support, kindness and willingness to help every student in their self-realization.</p>
            <h3 class="slider__name">I-scream</h3>
        </div>
        <div class="slider__item">
            <picture class="reviews__pic">
                <source srcset="./images/reviews/emily.webp 1x, ./images/reviews/emily@2x.webp 2x" type="image/webp">
                <source srcset="./images/reviews/emily.png 1x, ./images/reviews/emily@2x.png 2x">
      
                <img src="./images/reviews/emily.png" alt="Emily" class="reviews__icon">
            </picture>
            <p class="reviews__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
            <h3 class="slider__name">Emily, Los Angeles</h3>
        </div>
        
        <div class="slider__item">
            <picture class="reviews__pic">
                <source srcset="./images/reviews/sam.webp 1x, ./images/reviews/sam@2x.webp 2x" type="image/webp">
                <source srcset="./images/reviews/sam.png 1x, ./images/reviews/sam@2x.png 2x">
      
                <img src="./images/reviews/sam.png" alt="Sam" class="reviews__icon">
            </picture>
            <p class="reviews__text">I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.
            </p>
            <h3 class="slider__name">Sam, Los Angeles</h3>
        </div>
        
        <div class="slider__item">
            <picture class="reviews__pic">
                <source srcset="./images/reviews/diana.webp 1x, ./images/reviews/diana@2x.webp 2x" type="image/webp">
                <source srcset="./images/reviews/diana.png 1x, ./images/reviews/diana@2x.png 2x">
      
                <img src="./images/reviews/diana.png" alt="Diana" class="reviews__icon">
            </picture>
            <p class="reviews__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
            <h3 class="slider__name">Diana, Chicago</h3>
        </div>
        
        <div class="slider__item">
            <picture class="reviews__pic">
                <source srcset="./images/reviews/bryan.webp 1x, ./images/reviews/bryan@2x.webp 2x" type="image/webp">
                <source srcset="./images/reviews/bryan.png 1x, ./images/reviews/bryan@2x.png 2x">
      
                <img src="./images/reviews/bryan.png" alt="Bryan" class="reviews__icon">
            </picture>
            <p class="reviews__text">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!

            </p>
            <h3 class="slider__name">Bryan, New-York</h3>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    $(document).ready(function(){
    $('.slider').slick({
        arrows: false,
        dots:true,
        draggable:false,

    });
});
</script>

</section>
