.nutrition {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: center;
  margin-bottom: 39px;

  &--scream {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    gap: 20px;
    margin-bottom: 48px;

    &--scream {
      margin-bottom: 24px;
    }
  }

  
}
.nutrition__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-modal-bg-green);
  border-radius: 40%;
  text-overflow: ellipsis;
  width: 52px;
  height: 72px;

  &--coffee {
    border-color: var(--color-btn-default);
}
  &--shake {
    border-color: var(--color-shakes);
  }
  &--scream {
    border-color: var(--color-btn-default)
  }
  
  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
  }
}

.nutrition__amount {
  font-size: 10px;
  font-weight: 500;
  line-height: 2.8;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-4px);

  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: var(--color-modal-bg-green);
  box-shadow: 0 6px 20px var(--color-modal-bg-shadow-green);
  margin-bottom: 8px;

  &--coffee {
    background-color: var(--color-btn-default);
    box-shadow: 0 6px 20px var(--color-coffee-shadow);
  }

  &--shake {
    background-color: var(--color-shakes);
    box-shadow: 0 6px 20px var(--color-shake-shadow);
  }

  &--scream {
    font-size: 30px;
    background-color: transparent;
    border: 3px solid var(--color-btn-default);
    
    transform: translateY(37px);
  }

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
    margin-bottom: 7px;
    font-size: 12px;

    &--scream {
      font-size: 40px;
      
    }
  }
}

.nutrition__name {
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 35px;

  @media screen and (min-width: 768px) {
  
    font-size: 12px;
    max-width: 52px;

  }
}
.ingredients {
  margin-bottom: 48px;

  &--scream {
    margin-bottom: 24px;
  }
}
.ingredients__item {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 4%;

 

  &:not(:last-child) {
    margin-bottom: 11px;


  }

  &--scream {
    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 0px;
    }

    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
  }
}
.checkbox-container {
  width: 65px;
  height: 90px;
}

.checkbox:checked + .nutrition__amount--scream {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px var(--color-btn-default);
}

