//  ================== CAN CHANGE ====================

//  Задаю пополовині від оригінальних розмірів падінгів
.about__section {
  padding-top: 60px;
  padding-bottom: 21px;

  @media screen and (min-width: 768px) {
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }

  // padding-bottom: 42px;

  // @media screen and (min-width: 768px) {
  //   padding-bottom: 48px;
  // }

  // @media screen and (min-width: 1200px) {
  //   padding-bottom: 60px;
  // }
}

.btn__about {
  transition: background-color var(--cubic), color var(--cubic);
  &:hover {
    background-color: var(--color-btn-hover);
  }

  &:focus {
    background-color: var(--color-btn-hover);
    color: var(--color-text-light);
    outline: none;
  }

  &:disabled {
    background-color: var(--color-btn-disabled);
  }
}

.section-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 34px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
  }
}

//  ==================^^^ /CAN CHANGE ^^^^====================

.about__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
  }

  @media screen and (min-width: 1200px) {
    gap: 100px;
  }
}

.about__content_right {
  align-self: center;
  flex-basis: 335px;

  @media screen and (min-width: 1200px) {
    align-self: center;
    flex-basis: 463px;
  }
}

.about__label {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;

  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.about__title {
  letter-spacing: 0.04em;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 1.26;
    margin-bottom: 72px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 82px;
  }
}

.about__img {
  position: relative;
  width: 278px;
  height: 278px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140.182px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 62px;

  @media screen and (max-width: 319.5px) {
    width: 100%;
    height: 250px;

    background-size: contain;
  }

  @media screen and (min-width: 768px) {
    width: 335px;
    height: 330px;
    box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
    border-radius: 165.879px;
    margin-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    width: 500px;
    height: 500px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    border-radius: 250px;
    margin-bottom: 29px;
  }
}

.about_img-cow {
  position: absolute;
  top: 22px;
  z-index: 2;
  width: 278px;
  height: 278px;
  background-image: url('../images/about/mob-about-img.webp');
  background-position: center;
  border-radius: 1038.58px;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 319.5px) {
    width: 100%;
    background-size: contain;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/about/mob-about-img@2.webp');
  }

  @media screen and (min-width: 768px) {
    top: 26px;
    background-image: url('../images/about/tab-about-img.webp');
    width: 335px;
    height: 330px;
    border-radius: 1228.96px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url('../images/about/tab-about-img@2.webp');
  }

  @media screen and (min-width: 1200px) {
    top: 39px;
    left: 2px;
    width: 490px;
    height: 490px;
    background-image: url('../images/about/desk-about-img.webp');
    border-radius: 1852.2px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: url('../images/about/desk-about-img@2.webp');
  }
}

.about__article {
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 48px;
    margin-left: 0;
    margin-right: 0;
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 4px;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.about__item_invisible {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.about__text {
  font-size: 12px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.about__text_second {
  line-height: 1.62;
  letter-spacing: 0;

  @media screen and (min-width: 768px) {
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.94;
  }
}

.about__text_third {
  line-height: 1.94;

  @media screen and (min-width: 768px) {
    width: 268px;
  }

  @media screen and (min-width: 1200px) {
    width: auto;
    font-size: 14px;
  }
}

.about__btn {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  border-radius: 10px;

  padding-top: 12px;
  padding-right: 34px;
  padding-bottom: 12px;
  padding-left: 34px;

  color: var(--color-text-dark);
  background-color: var(--color-btn-default);

  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}

.about__read-icon {
  display: inline-block;
  fill: currentColor;
}
