.contacts-page {
  background-color: var(--color-bg-primary);
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  font-weight: 500;

  padding-bottom: 40px; /* падінги секції */
  color: var(--color-text-dark);
  border: 1px solid black;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts-list-address {
  font-style: normal;

  padding-bottom: 24px;
  margin-top: 20px;

  border-bottom: 1px solid #e1e1e1;
}
.contacts-list-address__city {
  margin-bottom: 8px;
}

.contacts-list-address__link {
  color: var(--color-bg-product-brown);
}

.contacts-calendar__list {
  letter-spacing: 0;

  padding-bottom: 24px;
  margin-top: 24px;

  border-bottom: 1px solid #e1e1e1;
}

.contacts-calendar__item {
  margin-bottom: 8px;
}
.contact-list {
  letter-spacing: 0;
  line-height: 1.5;

  margin-top: 24px;
}
.contacts-calendar__time-on {
  color: var(--color-btn-disabled);
}
.contact-list__mail,
.contact-list__phone {
  color: var(--color-text-dark);
}
.contacts-list__item {
  padding: 40px 32px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: var(--color-text-light);
}
.contacts-list__category {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  width: max-content;

  padding-left: 23px;
  padding-right: 23px;

  border-radius: 4px;
  background-color: var(--color-btn-default);
}

.contacts__buttons-list {
  margin-top: 32px;
  text-align: center;
}
.contacts__buttons-item {
  &:first-child {
    margin-bottom: 16px;
  }
}
