.section-gallery {
    padding-top: 18px;
} 

.section-gallery__container {
    transform: translateY(+106px);
    margin-top: -106px;

    @media screen and (min-width: 768px) {
        transform: translateY(+163px);
        margin-top: -163px;
    }

    @media screen and (min-width: 1200px) {
        transform: translateY(+328px);
        margin-top: -328px;
    }
}

.continer-gallery {
    position: relative;
    
    max-width: 279px;
    height: 130.03px;
    margin: auto;

    @media screen and (min-width: 768px) {
        max-width: 704px;
        height: 327px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1013px;
        height: 422px;
    }

}

.gallery__image {
    position: absolute;
    display: block;
    top: 0;
    left: 0;

    max-width: 279px;
    height: 130.03px;
    border-radius: 8px;

    animation-duration: 15s;
    animation-timing-function: cubic-bezier(.17, .67, .83, .67);
    animation-iteration-count: infinite;

    @media screen and (min-width: 768px) {
        max-width: 704px;
        height: 327px;
        border-radius: 18px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1013px;
        height: 422px;
        border-radius: 24px;
    }
}

.gallery__image-anim1 {
    animation-name: anim1;
}

.gallery__image-anim2 {
    animation-name: anim2;
}

.gallery__image-anim3 {
    animation-name: anim3;
}

@keyframes anim1 {
    0%, 8.3% { opacity: 0; }
    8.3%, 25% { opacity: 1; }
    33.33%, 100% { opacity: 1; }
}

@keyframes anim2 {
    0%, 33.33% { opacity: 0; }
    41.63%, 58.29% { opacity: 1; }
    66.66%, 100% { opacity: 1; }
}

@keyframes anim3 {
    0%, 66.66% { opacity: 0; }
    74.96%, 91.62% { opacity: 1; }
    100% { opacity: 1; }
}

