.gallery__thumb {
    display: flex;
    justify-content: center;
}

.gallery__image {
    border-radius: 8px;

    @media screen and (min-width: 768px) {
        border-radius: 18px;
    }

    @media screen and (min-width: 1200px) {
        border-radius: 24px;
    }
}