.page-header {
    padding-top: 20px;
    display: flex;
    align-items: flex-end;
    font-family: var(--font-primary);
    padding-top: 8px;
}

.page-header__nav {
    margin-left: auto;
    margin-right: 247px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.page-header__nav_links {

    color: var(--color-text-light);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.21;


    transition: color var(--cubic);

    &:hover,
    &:focus {
        color: var(--color-btn-default);
    }
}

.page-header__nav_items:not(:last-child) {
    margin-right: 27px;
}

.header-butn {
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.page-header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 600;
    color: var(--color-text-dark);
    background-color: var(--color-btn-default);
    width: 152px;
    height: 42px;
    border-radius: 10px;

    transition: background-color var(--cubic), color var(--cubic);


    &:hover {
        background-color: var(--color-btn-hover);
    }

    &:focus {
        background-color: var(--color-btn-hover);
        color: var(--color-text-light);
    }

    &:disabled {
        background-color: var(--color-btn-disabled);
    }
}

.page-header-btn__icon {
    line-height: 0;
}

.mobile-menu-burger {
    display: none;
    background-color: transparent;
    line-height: 0;
    padding: 0;
}


.mobile-menu-burger__icon {
    fill: #ffffff;
}


@media screen and (max-width: 1199px) {
    .page-header {
        padding-top: 20px;
    }

    .page-header__nav {
        display: none;
    }

    .mobile-menu-burger {
        display: block;
       
    }
}

@media screen and (max-width: 767px) {
    .page-header {
        padding-top: 12px;
    }

    .page-header-btn {
        display: none;
    }

    .mobile-menu-burger {
        margin-right: 0;
    }


}


// MOBILE MENU
.mobile-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-primary);
    transform: translateX(100%);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;


    transition: opacity var(--cubic), visibility var(--cubic), transform var(--cubic);
}

.mobile-menu.is-open-mobile {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}

.mobile-menu__container {
    position: relative;
    
}

 .mobile-menu__close-btn {
     
     border: none;
     background-color: transparent;
     padding: 0;
     line-height: 0;

 }

.mobile-menu__close-icon {
    fill: var(--color-text-light);
    transition: fill var(--cubic);

    &:hover,
    &:focus {
        fill: var(--color-btn-default);
    }
}

.mobile-menu__nav_items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu__nav_links {
   

    color: var(--color-text-light);
    font-weight: 700;
    line-height: 1.21;
    
    
    transition: color var(--cubic);
    
    &:hover,
    &:focus {
        color: var(--color-text-dark);
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 111px;
}

.mobile-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    color: var(--color-text-dark);
    background-color: var(--color-btn-default);
    width: 152px;
    height: 42px;
    border-radius: 10px;

    transition: background-color var(--cubic), color var(--cubic);


    &:hover {
        background-color: var(--color-btn-hover);
    }

    &:focus {
        background-color: var(--color-btn-hover);
        color: var(--color-text-light);
    }

    &:disabled {
        background-color: var(--color-btn-disabled);
    }
}


@media screen and (max-width: 767px) {
   .mobile-menu__close-btn {
        position: absolute;
        top: 4px;
        right: 20px;
    
   }
   
   .mobile-menu-nav-container {
    margin-top: 51px
   }
   
    .mobile-menu__nav {
        font-weight: 700;
    }

    .mobile-logo {
        margin-top: 12px;    
    }

    .mobile-menu__nav_links {
        font-size: 32px;
        line-height: 1.21;
        
    }


    .mobile-menu__nav_items:not(:last-child) {
        margin-bottom: 32px;
    }


}

@media screen and (min-width: 768px) {

    .mobile-menu__close-btn {
        position: absolute;
        top: 12px;
        right: 32px;
    }

    .mobile-menu-nav-container {
         margin-top: 76px
     }

    .mobile-logo {
        margin-top: 20px;
        display: block;
    }

    .mobile-menu__nav_links {
        font-size: 40px;
        line-height: 1.21;

    }

    .mobile-menu__nav_items:not(:last-child) {
        margin-bottom: 40px;
    }

    .mobile-menu-btn {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .mobile-menu {
        display: none;
    }
}

.logo__modal-helloween {
    margin-right: auto;
    margin-left: 20px;

    background-color: transparent;
}