.hero {
  position: relative;
  padding-top: 60px;
  padding-bottom: 239px;
  background-image: url(../images/hero/bg-mobile.png);
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: bottom;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/bg-mobile@2x.png);
  }

  @media screen and (min-width: 321px) {
    background-image: url(../images/hero/bg-mobile@2x.png);
    background-size: contain;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/bg-mobile@3x.png);
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 13px;
    background-size: 768px;
    background-image: url(../images/hero/bg-tablet.png);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/bg-tablet@2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 45px;
    padding-bottom: 65px;
    background-image: url(../images/hero/bg-desktop.png);
    background-size: 1200px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/bg-desktop@2x.png);
    }
  }
}

.hero__container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.hero__title {
  max-width: 247px;
  margin-bottom: 32px;
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-text-light);

  @media screen and (min-width: 768px) {
    max-width: 181px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.28;
  }

  @media screen and (min-width: 1200px) {
    max-width: 367px;
    font-size: 38px;
    line-height: 1.27;
  }
}

.hero__title-part {
  @media screen and (max-width: 767px) {
    font-size: 33px;
    line-height: 0.9;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 24px;
  }
}

.hero__links {
  display: flex;
  column-gap: 8px;

  @media screen and (min-width: 1200px) {
    column-gap: 0;
  }
}

.hero__link {
  display: block;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  border: 2px solid var(--color-btn-default);
  border-radius: 8px;
  color: var(--color-text-dark);
  background-color: transparent;
  transition: border var(--cubic), color var(--cubic);

  &:hover {
    border: 2px solid var(--color-btn-hover);
  }

  &:focus {
    border: 2px solid var(--color-btn-hover);
    color: var(--color-text-light);
    outline: none;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
    font-size: 14px;
    line-height: 1.29;
  }

  &--how-its-made {
    text-decoration: underline;
    border: 2px solid transparent;
    color: var(--color-btn-default);

    &:hover {
      border: 2px solid transparent;
      color: var(--color-btn-hover);
    }

    &:focus {
      border: 2px solid transparent;
      color: var(--color-text-light);
      outline: none;
    }

    @media screen and (min-width: 1200px) {
      line-height: 1.21;
    }
  }
}

.hero__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__image {
  position: absolute;
  right: 50%;
  bottom: -53px;
  transform: translateX(53%);
  pointer-events: none;

  @media screen and (min-width: 768px) {
    right: 50%;
    bottom: -56px;
    transform: translateX(95%);
  }

  @media screen and (min-width: 1200px) {
    right: 50%;
    bottom: -100px;
    transform: translateX(93%);
  }
}

.hero__information {
  @media screen and (max-width: 767px) {
    display: none;
  }

  margin-top: 28px;
  display: flex;
  column-gap: 33px;
  align-items: center;

  @media screen and (min-width: 1200px) {
    margin-top: 42px;
    column-gap: 14px;
  }
}

.hero__wrapper--info {
  @media screen and (min-width: 1200px) {
    position: relative;
  }
}

.hero__text {
  margin-bottom: 16px;
  max-width: 151px;
  font-size: 12px;
  line-height: 1.4;
  color: var(--color-text-light);

  @media screen and (min-width: 1200px) {
    min-width: 200px;
    margin-bottom: 0;
    font-size: 14px;
  }
}

.hero__icon {
  width: 40px;
  height: 15px;
  display: block;
  fill: var(--color-text-light);
}

.hero__arrow {
  transition: opacity var(--cubic);
  &--hover {
    opacity: 0;
  }

  &--focus {
    opacity: 0;
  }
}

.hero__about {
  @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: -32px;
    left: 0;
  }

  &:hover {
    .hero__icon {
      width: 50px;
    }
    .hero__arrow--def {
      opacity: 0;
    }
    .hero__arrow--hover {
      opacity: 1;
    }
  }

  &:focus {
    .hero__icon {
      width: 50px;
      height: 22px;
    }
    .hero__arrow--def {
      opacity: 0;
    }

    .hero__arrow--focus {
      opacity: 1;
    }
  }
}

.hero__item {
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: var(--color-text-light);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.21;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media screen and (min-with: 1200px) {
      margin-bottom: 16px;
    }
  }
}

.hero__number {
  display: block;
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.21;
  text-align: right;
  letter-spacing: 0.04em;
  color: var(--color-text-dark);

  @media screen and (min-width: 1200px) {
    font-size: 46px;
  }
}
