.products {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url(../images/products/bg-products-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/bg-products-mobile@2x.jpg);
  }

  @media screen and (min-width: 321px) {
    background-image: url(../images/products/bg-products-mobile@2x.jpg);
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/bg-products-mobile@3x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 82px;
  }

  @media screen and (min-width: 769px) {
    background-image: url(../images/products/bg-products-desktop.jpg);
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/bg-products-desktop@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 66px;
  }

  @media screen and (min-width: 1201px) {
    background-image: url(../images/products/bg-products-desktop-large.jpg);
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/bg-products-desktop-large@2x.jpg);
    }
  }

  // @media screen and (max-width: 320px) {
  //   background-image: url(../images/products/bg3-products-mobile.jpg),
  //     url(../images/products/bg2-products-mobile.jpg),
  //     url(../images/products/bg1-products-mobile.jpg);
  //   background-repeat: no-repeat;
  //   background-position: bottom, 50% 51.6%, top;
  //   background-size: contain;

  //   @media screen and (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: url(../images/products/bg3-products-mobile@2x.jpg),
  //       url(../images/products/bg2-products-mobile@2x.jpg),
  //       url(../images/products/bg1-products-mobile@2x.jpg);
  //   }
  // }
}

.products__label {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-dark);

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.23;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }

  margin-bottom: 12px;
}

.products__title {
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-dark);

  margin-bottom: 148px;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    margin-bottom: 200px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 303px;
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  gap: 164px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.products__item {
  position: relative;

  padding: 123px 40px 85px 40px;

  border-radius: 24px;
  color: var(--color-text-dark);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - (16px * 2)) / 3);
    padding: 108px 26px 80px 26px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - (32px * 2)) / 3);
    padding: 166px 63px 120px 63px;
  }

  &:nth-child(1) {
    background-color: var(--color-bg-product-green);
    &::after {
      background-image: url(../images/products/products1-mobile.jpg);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/products1-mobile@2x.jpg);
      }

      @media screen and (min-width: 768px) {
        background-image: url(../images/products/products1-tablet.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/products1-tablet@2x.jpg);
        }
      }

      @media screen and (min-width: 1200px) {
        background-image: url(../images/products/products1-desktop.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/products1-desktop@2x.jpg);
        }
      }
    }
  }

  &:nth-child(2) {
    background-color: var(--color-bg-product-yellow);
    &::after {
      background-image: url(../images/products/products2-mobile.jpg);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/products2-mobile@2x.jpg);
      }

      @media screen and (min-width: 768px) {
        background-image: url(../images/products/products2-tablet.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/products2-tablet@2x.jpg);
        }
      }

      @media screen and (min-width: 1200px) {
        background-image: url(../images/products/products2-desktop.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/products2-desktop@2x.jpg);
        }
      }
    }
  }

  &:nth-child(3) {
    background-color: var(--color-bg-product-brown);
    &::after {
      background-image: url(../images/products/products3-mobile.jpg);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/products3-mobile@2x.jpg);
      }

      @media screen and (min-width: 768px) {
        background-image: url(../images/products/products3-tablet.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/products3-tablet@2x.jpg);
        }
      }

      @media screen and (min-width: 1200px) {
        background-image: url(../images/products/products3-desktop.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/products3-desktop@2x.jpg);
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -44%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: inherit;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 768px) {
      top: -4%;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    }

    @media screen and (min-width: 1200px) {
      width: 300px;
      height: 300px;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--color-text-light);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 768px) {
      top: -4%;
    }

    @media screen and (min-width: 1200px) {
      width: 300px;
      height: 300px;
    }
  }
}

.products__item-title {
  font-family: var(--font-primary);
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.23;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    margin-bottom: 65px;
  }
}

.products__description {
  min-height: 149px;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    min-height: 174px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 147px;
    font-size: 16px;
  }
}

.products__btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 0;
  background-color: inherit;

  @media screen and (min-width: 1200px) {
    bottom: 60px;
  }

  &:hover {
    .products__icon {
      width: 50px;
    }
    .products__arrow--def {
      opacity: 0;
    }
    .products__arrow--hover {
      opacity: 1;
    }
  }

  &:focus {
    .products__icon {
      width: 50px;
      height: 22px;
    }
    .products__arrow--def {
      opacity: 0;
    }
    .products__arrow--focus {
      opacity: 1;
    }
  }
}

.products__icon {
  display: block;
  width: 40px;
  height: 15px;
  fill: var(--color-text-dark);
}

.products__arrow {
  transition: opacity var(--cubic);
  &--hover {
    opacity: 0;
  }

  &--focus {
    opacity: 0;
  }
}
